<div id="job" draggable="true">
<h4 class="title"> <%= link_to job.name, job%> </h4>
<p>
	<ul class="unstyled">
<li> status: <%= job.status %> </li>
<li> created at: <%= job.created_at %> 		 </li>
<span>
<br>
</p>
</div>