<body>
	<div class='container dashboard'>
		<div class="row">
			<div class='span8 offset2'>
				<ul class="breadcrumb">
  <li class="active">Jobs</a> <span class="divider">|</span></li>
  <li><a href="#">Recipients</a> <span class="divider">|</span></li>
  <li><a href="settings">Settings</a></li>
</ul>
				<%= render @jobs.reverse %>
			</div>
		</div>
	</div>
</body>

