<body>
	<div class='container dashboard'>
		<div class="row">
			<div class="span8 offset2">
				<ul class="breadcrumb">
  <li><a href="/">Jobs</a> <span class="divider">|</span></li>
  <li><a href="#">Recipients</a> <span class="divider">|</span></li>
  <li class="active">Settings</a></li>
</ul>
				<div class="well">
					<h3> <%= @user.email %> </h3>
					<h4> API Token: </h4>
					<%= @user.token %>
				</div>
					<iframe width = "800" height="1000" src="https://docs.google.com/document/d/1xil2lc4CHNlfwt0eWcYqWfVZEm4IAgS0DxjeTHQ7S_0/edit?embedded=true"></iframe>
			</div>
		</div>
	</div>
</body>