<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Mon Aug 19 2013 06:31:13 GMT+0000 (UTC) -->
<html data-wf-site="5200bdeef6557b9d040005da">
  <head>
    <meta charset="utf-8">
    <title>printing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/printing.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700","Droid Serif:400,700","Open Sans:300,400,600,700,800"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
    <script type="text/javascript" src="js/webflow.js" defer></script>
  </head><body>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 w-clearfix subfooter-left">
          <div class="app-name">PRINTR</div>
        </div>
        <div class="w-col w-col-8 w-clearfix nav-column"><a class="nav-link first" href="http://localhost:3000/documentation" target="_self">REST API</a><a class="nav-link" href="http://localhost:3000/pricing" target="_self">Pricing</a><a class="nav-link" href="http://localhost:3000/users/signup" target="_self">Signup</a>
          <a
          class="nav-link" href="http://localhost:3000/users/login" target="_self">LOGIN</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-clearfix section hero">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-clearfix">
          <h1 class="hero-header">Cloud Based Printing &amp; mail</h1>
          <p class="hero-subtitle">REST API for printing and mailing directly from your application</p>
        </div>
        <div class="w-col w-col-6 w-clearfix"><a class="button" href="#page-nav-organize" target="_self">Signup<br></a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-clearfix white-bg section" id="page-nav-organize">
    <h2>Why you'll love using PRINTR</h2>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 w-clearfix">
          <img src="images/cloud_icon.png" height="114" alt="cloud_icon.png">
          <h2 class="sequence">Send a Print Job</h2>
          <p class="marketing-text">Items can be everything from Letters to Color Posters.
            <br>
          </p>
        </div>
        <div class="w-col w-col-4 w-clearfix">
          <img src="images/print-icon.png" alt="print-icon.png">
          <h2 class="sequence">We Print...</h2>
          <p class="marketing-text">with 100's of commercial printing partners worldwide</p>
        </div>
        <div class="w-col w-col-4 w-clearfix">
          <img src="images/mail_icon.png" alt="mail_icon.png">
          <h2 class="sequence">and Mail.</h2>
          <p class="marketing-text">We handle address confirmation and negotiate lower mailing prices by printing closer to the item's destination</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-clearfix grey-bg section rest-api" id="page-nav-display">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-clearfix">
          <img class="code" src="images/Screen%20Shot%202013-08-06%20at%2011.44.13%20AM.png" width="416" alt="Screen%20Shot%202013-08-06%20at%2011.44.13%20AM.png">
        </div>
        <div class="w-col w-col-6 w-clearfix">
          <h2 class="simple">Simple REST API</h2>
          <p class="simple-text">Run your entire print job with our simple REST API. Designed for Developers, we have provided API wrappers in Ruby, Python and PHP for an integration into existing applications that takes minutes.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-clearfix section white-bg" id="page-nav-display">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-clearfix">
          <img class="map" src="images/Screen%20Shot%202013-08-06%20at%204.04.33%20PM.png" width="648" height="450" alt="Screen%20Shot%202013-08-06%20at%204.04.33%20PM.png">
        </div>
        <div class="w-col w-col-6 w-clearfix">
          <h2 class="simple" id="page-nav-address">Verified Addresses</h2>
          <p class="simple-text">We verify all addresses that you use. Bounced mail is automatically processed and you get notified.</p>
          <p>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey-bg">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-clearfix">
          <h2 class="stramlined">Scaleable</h2>
          <p class="simple-text">Avoid uploading a file for every sendout - use a template and send the dynamic fields via HTTP Request</p>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-4 w-clearfix">
              <h2 class="use">Invoices</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="use">Registrations</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="use">Statements</h2>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <h2 class="use">Newsletters</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="use">Postcards</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="use">Marketing<br></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section white-bg">
    <div class="w-container">
      <div class="blockquote">"PRINTR is the sendgrid for physical mail."</div>
    </div>
  </div>
  <div class="w-clearfix section purple">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4"></div>
        <div class="w-col w-col-4 w-clearfix"><a class="button signupbottom" href="#">Get Started</a>
        </div>
        <div class="w-col w-col-4"></div>
      </div>
    </div>
  </div>
  <div class="section grey-bg footer">
    <div class="w-container"><a class="footer-link" href="http://www.flickr.com/photos/kara_allyson/" target="_blank">Copyright @PRINTR AB, 2013<br></a>
    </div>
  </div>
</body>
</html>