<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/responsive" %>
  </head>
  <body>
  	<%= render 'layouts/navbar' %>
		<div class="container">
      <%= yield %> 
    </div>
  </body>
  <%= javascript_include_tag "application" %>
</html>
